---
import SuperAdminLayout from "../../layouts/SuperAdminLayout.astro";
import AdminDashboard from "../../components/admin/negocios/AdminDashboard";
import { Toaster } from "../../components/ui/Toaster";

export const prerender = false;
---

<SuperAdminLayout title="Gestión de Restaurantes - Atlas">
  <div class="min-h-screen">
    <AdminDashboard client:only="react" />
  </div>

  <Toaster client:load />
</SuperAdminLayout>
